@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  max-width: 1300px;
  margin: 0 auto;
}

.navigation {
  padding: 0 20px;
}

.navigation p {
  display: inline-block;
  font-size: 23px;
  width: 600px;
  margin-left: 20px;
}

.navigation p span {
  color: #50b9e1;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: inline-block;
}

li {
  display: inline-block;
  padding-right: 10px;
}

nav i {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
}

.navigation > nav > ul > li > ul {
  padding: 0;
}

a:hover {
  color: #50b9e1;
  cursor: pointer;
}

/* site-header */

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.site-header img {
  flex-shrink: 0;
  width: 100%;
}
/* .site-header img {
    height: 100%;
    
}
.site-header  {
     background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('./Images/kids_main.jpg');
    background-size: cover; 
}
*/

.site-header h1 {
  position: absolute;
  width: 38%;
  margin: 0;
  font-size: 66px;
  color: white;
  padding: 200px 0 80px 100px;
}

.site-header button:hover {
  background: #50b9e1;
  border: 2px solid white;
  cursor: pointer;
}
.site-header button {
  position: absolute;
  font-size: 26px;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 15px;
  margin: 0 0 100px 100px;
}

/*.welcome*/

.welcome {
  color: #50b9e1;
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  display: block;
}

h2 {
  text-align: center;
  font-family: "PT Serif", serif;
  font-size: 32px;
  font-style: italic;
  letter-spacing: 2px;
}

.welcome p {
  text-align: center;
}

/*offerts*/

.offerts {
  background-color: #50b9e1;
  font-family: "PT Serif", serif;
  color: white;
  padding: 20px 30px;
}

.offerts li {
  width: 32%;
  text-align: center;
}

.offerts img {
  width: 100px;
}

/*camps*/

.camps {
  color: #50b9e1;
  padding: 20px 0 0 0;
}

.camps p:nth-child(2) {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
}

.camps li {
  display: inline-block;
  width: 32%;
  padding: 0 4px;
}

.camps li:hover {
  border: 2px solid #50b9e1;
}

.camps img {
  width: 100%;
}

.info div {
  display: inline-block;
  font-size: 20px;
}

.info div:nth-child(1) {
  padding-right: 200px;
}

.more-info p {
  color: black;
}

.more-info button {
  background: transparent;
  border: 2px solid #50b9e1;
  padding: 15px 5px;
  color: #50b9e1;
  font-size: 18px;
  margin: 10px 10px;
}

.more-info button:hover {
  background-color: #50b9e1;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin: 5px 5px;
}

/*footer*/
footer {
  height: 300px;
  margin: 0;
  padding: 0;
}
.footer {
  background-color: #43bae3;
  margin: 10px 40px;
}
.footer p {
  color: #418dac;
  font-size: 16px;
  padding: 30px 60% 10px 40px;
  display: inline-block;
}
.footer ul {
  width: 100px;
  margin: 0;
  display: inline-block;
}
.footer ul > li {
  display: inline-block;
}

/* tova e za about us page; */

#avatar {
  width: 50%;
  border-radius: 25px;
}

.about-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5e5c5c;
  background: url(pic.jpg) no-repeat left;
  background-size: 55%;
  overflow: hidden;
  height: 100%;
  padding: 100px 0;
}

.inner-container {
  width: 40%;
  background-color: #fdfdfd;
  padding: 150px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}
h1 {
  color: #f85370;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}
span {
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  width: 500px;
}
span:hover {
  background-image: linear-gradient(
    to right top,
    #f85370,
    #f35470,
    #ee5570,
    #e8556f,
    #e3566f
  );
  color: #fff;
  border-radius: 20px;
  transition: 0.5s;
}
.active {
  background-image: linear-gradient(
    to right top,
    #f85370,
    #f35470,
    #ee5570,
    #e8556f,
    #e3566f
  );
  color: #fff;
  border-radius: 20px;
}
/* Comments form */
.commentsBox {
  width: 70%;
  border-radius: 25px;
  background: #c1c2c7;
  margin: 20px;
}
.commentsBox h2 {
  padding-left: 0;
  font-family: "Courier New", Courier, monospace;
  float: inline-end;
  font-size: 26px;
  color: rgb(71, 71, 71);
}
.commentsBox p {
  font-family: "Courier New", Courier, monospace;
  margin-left: 40px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  color: white;
}
.comments-form {
  border-radius: 25px;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #666666;
  font-family: "Balsamiq Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 70%;
  padding: 30px 90px 90px 90px;
  border: 6px solid rgba(0, 0, 0, 0.3);
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  position: relative;
}

.card h2 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  text-transform: uppercase;
}

.card .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 30px;
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 30px 20px 40px 0;
  transition: 0.5s;
}

.card .row .form-group {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ffffff;
}

.card .row .form-group input,
.card .row .form-group textarea {
  position: absolute;
  width: 90%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 24px;
  padding: 10px 0 10px 20px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 50px;
}

.card .row .form-group label {
  line-height: 40px;
  color: #ffffff;
  font-size: 24px;
  margin: 0 0 0 30px;
  display: block;
  pointer-events: none;
}

.row .col:nth-child(6) {
  margin-top: 64px;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
  border: 5px solid #ffffff;
  transition: all 0.5s;
}

.card .row input[type="submit"] {
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 100%;
  width: 50%;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 45px;
  transition: all 0.4s;
}

.card .row input[type="submit"]:hover {
  border: 5px solid rgba(255, 255, 255, 1);
  color: #ffffff;
  transition: all 0.4s;
}

@media screen and (max-width: 900px) {
  .card .row {
    grid-template-columns: repeat(auto-fit, minmax(70%, 1fr));
  }

  .card {
    padding: 20px;
  }

  .card h2 {
    font-size: 34px;
  }

  .card .row input[type="submit"] {
    width: 100%;
  }
}
